*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: white;
    justify-content: center;
}

.container{
    width: 100%;
    height:200vh;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.4fr 0.8fr 0.3fr 1.2fr 0.1fr;
    grid-template-areas: 
    "top top top top"
    "content1 content1 content1 content1"
    "content2 content2 content2 content2"
    "content3 content3 content4 content4"
    "footer footer footer footer";
    grid-gap:0rem;
}

.top{
    width: 100%;
    grid-area: top;
    text-align: center;
    background-color:#e3e5fc;
    overflow: auto;
    border-bottom: solid black;
    position: absolute;
    z-index: 500;
}

.top a{
    float:right;
    width: 20%;
    text-align: center;
    padding:30px 10px;
    transition: all 0.3s ease;
    font-size: 40px;
}

.top a i{
    color:black;
}


.top a.active{
    background-color:#e3f2fc;
    color:white;
}

.sticky{
    position: fixed;
    top:0;
    width:100%;
}

.sticky + .content1 + .content2 + .content3 +.content4 +.footer{
    padding-top:60px;
}

.top p{
    float: left;
    width: 20%;
    text-align: center;
    justify-content: center;
    padding:20px 10px;
    font-family: 'Brush Script MT',cursive;
    font-size:2.6rem;
}



.content1{
    grid-area: content1;
    text-align: center;
    justify-content: center;
    text-indent:2cm;
    line-height: 1cm;
    width:80%;
    height: 100%;
    margin:auto;
    position:static;
}

.content1 p{
    font-family:'Times New Roman', Times, serif;
    font-size: 25px;
    font-style: italic;
}

.content1 img{
    float: left;
    justify-content: center;
    display: flex;
    padding:1px;
    width:12.5rem;
    height: 50%;
    border-radius: 50%;
}


.content2{
    grid-area: content2;
    text-align: center;
    justify-content: center;
    /* border-top: black solid; */
    display: flex;
    float: left;
    /* background-color: #555; */
}


.content2 .inner {
	width: 100rem;
	height: 160px;
	line-height: 160px;
	font-size: 4em;
	font-family: sans-serif;
	font-weight: bold;
	white-space: nowrap;
    overflow: hidden;
    
}

.content2 .inner:first-child {
	background-color: #e3e5fc;
    color: white;
    font-family: 'Brush Script MT',cursive;
	transform-origin: center;
	/* transform: perspective(100px) rotateY(-15deg); */
}

.content2 .inner:last-child {
	background-color: #e3e5fd;
    color: black;
    font-family: 'Brush Script MT',cursive;
	transform-origin: left;
	/* transform: perspective(100px) rotateY(15deg); */
}

.content2 .inner span {
	position: absolute;
	animation: marquee 10s linear infinite;
}

.content2 .inner:first-child span {
	animation-delay: 5s;
	left: -100%;
}

@keyframes marquee {
	from {
		left: 100%;
	}

	to {
		left: -100%;
	}
}

.content3{
    grid-area: content3;
    /* background-color: coral; */
}

.content3 h1{
    text-indent: 1cm;
    font-size: 28px;
    height: 3.5rem;
    line-height: 1.5;
    text-align: center;
    color: #797a7e;
    text-decoration: underline;
    font-weight: bold;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    /* background-color: cadetblue; */
}

.content3 h3{
    height:100%;
    line-height: 3.5;
    font-size: 25px;
    text-indent: 2cm;
    color: #797a7e;
    /* background-color: coral; */
}

.content3 p{
    text-indent: 2cm;
    line-height: 3;
    font-family:'Times New Roman', Times, serif;
    font-size: 20px;
    font-style: italic;
}


.content4{
    grid-area: content4;
    background-image: url(../img/img.jpg);
    background-size: cover;
}

.footer{
    grid-area: footer;
    text-align:center;
    background-color: #e3e5fc;

}

.footer a{
    padding:20px;
    font-size: 30px;
    width:50px;
    margin:5px 2px;
    text-decoration: none;
    color: #fceee3;
    line-height: 1;
}

